@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* パソコン用 */
@media (min-width: 992px) {
  #errorModal {
    display: none;
  }

  /* * {
    outline: 2px solid blue;
  } */
  html {
    overflow-x: hidden;
    margin: 0px;
    height: 100%;
    width: 100%;
  }

  body {
    overflow-x: clip;
    padding-bottom: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
  }

  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  main {
    margin: 0px;
    height: 100%;
    width: 100%;
  }

  /* コンテナ全体 */
  .container-main {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .form-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #sm-nav {
    display: none;
  }

  #sm-layer {
    display: none;
  }

  /* モーダルウィンドウのスタイル */
  .modal {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
  }

  /* フォーム */
  form {
    min-width: 500px;
  }

  .form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .form-floating {
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    height: 60px;
  }

  .signup-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }
}

/* スマートフォン用 */
@media (max-width: 991px) {
  #errorModal {
    display: none;
  }

  html {
    overflow-x: hidden;
    margin: 0px;
    height: 100%;
    width: 100%;
  }

  body {
    overflow-x: clip;
    padding-bottom: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
  }

  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  main {
    margin: 0px;
    height: 100%;
    width: 100%;
  }

  /* コンテナ全体 */
  .container-main {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .form-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #pc-nav {
    display: none;
  }

  #sm-layer {
    height: 40px;
    width: 100%;
    padding: 5px 0px;
    background-color: #fff;
    margin-top: 56px;
  }

  /* モーダルウィンドウのスタイル */
  .modal {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
  }

  /* フォーム */
  form {
    min-width: 280px;
  }

  .form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .form-floating {
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    height: 60px;
  }

  .signup-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}